<button (click)="timerManagerService.startTimer1()">Start Timer 1</button>
<button (click)="timerManagerService.cancelTimer1()">Cancel Timer 1</button>
<button (click)="timerManagerService.resetTimer1()">Reset Timer 1</button>
<div>Timer 1: {{ timerManagerService.timerDone1 }}</div>

<button (click)="timerManagerService.startTimer2()">Start Timer 2</button>
<button (click)="timerManagerService.cancelTimer2()">Cancel Timer 2</button>
<button (click)="timerManagerService.resetTimer2()">Reset Timer 2</button>
<div>Timer 2: {{ timerManagerService.timerDone2 }}</div>
